<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false" data-provider-thread-count="5">
	<listeners>
		<listener class-name="com.levell.adamantdriver.WebDriverListener" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="com.levell.adamantdriver.AppTest" />
		</classes>
	</test>
</suite>
